@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-wrapper {
  max-width: 70vw;
  height: 500px;
  position: relative;
  padding: 1rem;
}

.timeline-item {
  align-items: center;
  padding: 2rem;
}
.timeline-item:before {
  content: "";
  position: absolute;
  top: 152px;
  width: 340px;
  height: 1px;
  background: black;
}

.point {
  /* Estiliza tu punto de la línea de tiempo como prefieras */

  /* Asegúrate de que hay espacio entre el punto y el contenido */
  z-index: 1;
}

.content {
  padding: 1.3em;
  /* Aquí puedes estilizar tu contenido como quieras */
  @apply text-[20px];
}
.yearStudy {
  @apply m-3
    text-gray-400;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overflow-x-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.overflow-x-scroll::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
.bdBlogImage {
  background-image: url("https://res.cloudinary.com/dueldzh6k/image/upload/v1691934943/Designer_7_tc1t10.png");
}
